    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About CxRomos</h2>
              <br/>
                <p>We build Real Time Enterprise apps with clients on Desktop, in Browser, on iOS, Android, WP.</p>
                <p>We use Trift, WebSockets, Message Queues, REST APIs and Enterprise in .NET and Java, Azure Web Services, Azure Mobile Services, Amazon Mobile Services.</p>
                <br/>
              </div>
        </div>
    </section>
